.sitedescription-wrapper {
  max-width: 600px;

  .sitedescription-title {
    color: #202942;
    font-size: 35px;
    font-weight: 700;
  }

  .sitedescription-description {
    color: #202942;
    margin-top: 20px;
  }
}
