.project-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border-top: 3px solid #1c3987;
  background-color: #1c388707;
  border-radius: 5px;

  .right {
    width: 55%;

    .client-wrapper {
      display: flex;
      align-items: center;

      .client-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .client-name {
        margin-right: 10px;
        color: #1c3987;
      }
    }

    .title {
      font-size: 12px;
      margin-top: 15px;
      color: #555;
    }

    .value {
      margin-right: 15px;
    }

    .description-value {
      max-width: 90%;
      max-height: 50px;
      overflow-y: auto;
    }

    .inline {
      display: flex;
      justify-content: space-between;
      width: 85%;
    }

    .delete-project {
      margin-right: 15px;
    }
  }

  .left {
    margin-top: 15px;
    width: 35%;

    .request-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .err-msg {
      font-size: 12px;
    }

    .left-title {
      font-size: 14px;
      color: #555;
    }

    .left-value {
      font-size: 16px;
      color: #29313b;
      margin-right: 7px;
    }
  }

  .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #777;
  }

  .bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .project-status {
      font-size: 12px;
      color: #1c3987;
    }
  }

  .project-id {
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 11px;
    color: #555;

    .project-id-value {
      margin-right: 3px;
    }
  }
}
