.project-wrapper {
  background-color: #1c388705;
  display: flex;
  width: 49%;
  height: 250px;
  border-radius: 5px;
  margin: 5px;
  border: 3px solid #1c3987;

  .project-image-wrapper {
    min-width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .project-image {
      width: 160px;
      height: 210px;
    }
  }

  .project-details-wrapper {
    margin-top: 20px;

    .project-description-title {
      font-size: 14px;
      color: #666;
    }
  }
}
