.project-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border-top: 3px solid #1c3987;
  background-color: #f7f8fc;
  border-radius: 5px;

  .right {
    width: 48%;

    .client-wrapper {
      display: flex;
      align-items: center;

      .client-image {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #ddd;

        &.is-online {
          border-color: #1c3987;
        }
      }

      .client-name-and-status-wrapper {
        margin-right: 10px;

        .client-name {
          cursor: pointer;
          width: fit-content;
        }

        .last-login {
          font-size: 10px;
          color: #555;

          &.is-online {
            color: #1c3987;
          }
        }
      }
    }

    .title {
      font-size: 13px;
      margin-top: 15px;
      color: #555;
    }

    .value {
      margin-right: 15px;
    }

    .description-value {
      max-width: 90%;
      max-height: 50px;
      overflow-y: auto;
    }

    .inline {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .delete-project {
      margin-right: 15px;
    }
  }

  .left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .err-msg {
      font-size: 13px;
      color: #777;
    }

    .hint-arrow-wrapper {
      .ha-arrow {
        position: absolute;
        left: 8.9%;
        top: 118px;

        #hintArrowStem {
          stroke-dasharray: 29.25143051147461;
          stroke-dashoffset: 29.25143051147461;
          animation: haStem 1s linear forwards, haFadeOut 1s ease 5s forwards;
        }

        #hintArrowCap {
          stroke-dasharray: 14.705007553100586;
          stroke-dashoffset: 14.705007553100586;
          animation: haCap 0.5s linear 1s forwards,
            haFadeOut 1s ease 5s forwards;
        }
      }

      .ha-note {
        position: absolute;
        left: 6.7%;
        top: 98px;
        font-size: 11px;
        transform: rotate(335deg);
        opacity: 0;
        animation: haFadeIn 0.8s ease 1.5s forwards,
          haFadeOut 1s ease 5s forwards;
      }
    }

    .request-offer-wrapper {
      display: flex;
      justify-content: center;

      .request-offer-form-wrapper {
        width: 220px;
      }

      .calculate-price-wrapper {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        max-width: 160px;

        .left-title {
          font-size: 14px;
          color: #555;
          margin-top: 5px;

          &:first-child {
            margin-top: 0;
          }
        }

        .left-value {
          font-size: 16px;
          color: #29313b;
          margin-right: 10px;
        }
      }
    }

    .no-offer-wrapper {
      text-align: center;
    }

    .has-offers-wrapper {
      width: 95%;
      height: 200px;

      &.no-height {
        height: auto;
      }

      &.less-width {
        width: 85%;
      }

      &.lower-opacity {
        opacity: 0.5;
      }

      .offers-title-wrapper {
        display: flex;

        .offers-title {
          margin-right: 10px;
        }

        .number-of-offers {
          font-size: 13px;
          margin-right: 5px;
          color: #1c3987;
        }
      }

      .request-wrapper {
        padding: 10px;
        max-height: 182px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &::-webkit-scrollbar-track {
          border-radius: 10px;
        }

        &.less-tp {
          padding-top: 5px;
        }

        &.more-pl {
          padding-left: 30px;
        }

        .delete-offer {
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: 0;
          top: 45%;
          transform: translate(0, -45%);
          cursor: pointer;

          &.not-pointer {
            cursor: auto;
          }
        }

        .offer {
          width: 100%;
          border: 1px solid #1c3987;
          border-radius: 5px;
          padding: 5px 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 5px;
          position: relative;

          &:last-child {
            margin-bottom: 0;
          }

          &.rejected {
            border-color: #ff2d2d;
          }

          .waiting-for-approval {
            font-size: 14px;
            margin-top: 7px;
            color: #1c3987;

            .rejected-note {
              color: #ff2d2d;
            }
          }

          .typist-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 140px;

            .pointer {
              cursor: pointer;
            }

            .typist-image {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }

            .typist-displayname {
              margin-right: 7px;
              font-size: 14px;
            }
          }

          .offered-price-wrapper {
            display: flex;
            flex-direction: column;

            .offered-price-title {
              color: #555;
              font-size: 12px;
            }

            .offered-price {
              font-size: 14px;
              margin-right: 10px;
            }
          }

          .accept-reject-wrapper {
            display: flex;
            align-items: center;
            margin-top: 10px;

            .accept,
            .reject {
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              height: 27px;
              width: 27px;
            }

            .accept {
              background-color: #aaeca1;

              &:hover {
                background-color: #7cde6f;
              }
            }

            .reject {
              background-color: #ffc7c7;
              margin-right: 5px;

              &:hover {
                background-color: #ff9999;
              }
            }
          }

          .offer-created-at {
            font-size: 10px;
            color: #777;
            position: absolute;
            left: 5px;
            top: 0;
          }
        }
      }
    }
  }

  .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #777;
  }

  .bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .project-status {
      font-size: 12px;
      color: #1c3987;
    }
  }

  .project-id {
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 11px;
    color: #555;

    .project-id-value {
      margin-right: 3px;
    }
  }
}

@keyframes haStem {
  to {
    stroke-dashoffset: 58.502861023;
  }
}

@keyframes haCap {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes haFadeIn {
  to {
    opacity: 1;
  }
}

@keyframes haFadeOut {
  to {
    opacity: 0;
  }
}
