.my-projects-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .no-project-note {
    margin-top: 15px;
  }

  .mp-title {
    font-size: 18px;
    padding: 0 10px 7px 0;
  }

  .add-a-project-wrapper {
    width: fit-content;
    margin-top: 5px;
    border: 1px solid #1c3987;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    .add-a-project-right-now {
      color: #1c3987;
      font-size: 14px;
    }
  }
}
