.wrapper {
  height: 100%;
  width: 100%;

  .main {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;

    .sidebar-open {
      background-color: #29313b;
      color: #fff;
      width: 260px;
      min-width: 260px;
      transition: all 0.5s;
    }

    .sidebar-close {
      background-color: #29313b;
      color: #fff;
      width: 75px;
      min-width: 75px;
      transition: all 0.5s;
    }

    .content {
      width: 100%;
      position: relative;
    }
  }
}
