.profile-wrapper {
  background-color: #fff;
  height: 550px;
  width: 800px;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  border-radius: 5px;
  position: relative;

  .profile-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;

    .close-modal {
      top: 12px;
      left: 12px;
    }

    .profile-header-title {
      font-size: 20px;
    }
  }

  .profile-content {
    width: 100%;
    display: flex;
    margin-top: 30px;

    .profile-content-right {
      margin: 20px 60px 20px 0;

      .profile-pic {
        cursor: pointer;
      }
    }

    .profile-content-left {
      margin-right: 50px;
    }
  }
}
