.profile-wrapper {
  background-color: #fff;
  height: 440px;
  width: 680px;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  border-radius: 5px;
  position: relative;

  .profile-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;

    .close-modal {
      top: 12px;
      left: 12px;
    }

    .profile-header-title {
      font-size: 20px;
    }
  }

  .profile-content {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;

    .profile-content-right {
      margin-right: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-pic {
        cursor: pointer;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }

      .err-msg {
        color: #d8000c;
        position: absolute;
        bottom: 55px;
      }
    }

    .profile-content-left {
      margin-right: 100px;

      .title {
        margin-top: 10px;
        color: #666;
      }

      .value {
        margin-right: 15px;
        font-size: 20px;
      }

      .edit {
        color: #1c3987;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid #1c3987;
        }
      }

      .displayname-err-msg {
        position: absolute;
        color: #d8000c;
        font-size: 13px;
        text-align: justify;
        margin-left: 45px;
        bottom: 30px;
      }
    }
  }
}
