.normal-input-wrapper {
  .normal-input {
    direction: ltr;
    padding: 5px 10px;
    border: 1px solid #1c3987;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
  }

  .normal-input:focus {
    border: 1px solid #1c3987;
    border-radius: 5px;
    outline: none;
  }

  .normal-input::placeholder {
    font-family: "typecafe";
    direction: rtl;
  }

  .label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
}
