.input-wrapper {
  .label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #152b69;

    &.label-error {
      color: #ff2d2d;
    }
  }

  .input-error-wrapper {
    position: relative;

    .input {
      direction: ltr;
      padding: 5px 10px;
      border: 1px solid #1c3987;
      border-radius: 3px;
      width: 100%;
      font-size: 18px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: "typecafe";
        padding-right: 15px;
        color: #d8000ba1;
        font-size: 13px;
        direction: rtl;
      }

      &.input-error {
        border-color: #ff2d2d;

        &.confirm-email {
          &::placeholder {
            padding-right: 20px;
          }
        }
      }
    }
  }

  .input-break {
    margin-bottom: 10px;
  }
}
