.upload-file-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .upload-icon-circle {
    position: relative;
    width: 135px;
    height: 135px;
    background-color: #ebebeb;
    border-radius: 50%;
    cursor: pointer;
  }

  .upload-title {
    margin-top: 20px;
    font-size: 18px;
  }

  .upload-valid-formats {
    margin-top: 3px;
    font-size: 14px;
    color: #666;
    text-align: center;

    .badformat {
      color: #d8000c;
    }
  }

  .upload-button {
    margin-top: 20px;
    width: initial;
  }

  .error {
    position: absolute;
    bottom: 80px;
  }

  .file-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .file-detials {
      text-align: right;
      direction: ltr;
      font-size: 20px;

      .label {
        font-size: 13px;
        color: #666;
        margin-bottom: 0;
      }
    }

    .cancel-file {
      top: 260px;
      right: 250px;
    }
  }

  .file-uploaded-buttons-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    bottom: 49px;

    .add-another,
    .next-step {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 5px;
      padding: 14px;
    }

    .next-step-tooltip {
      opacity: 0;
      position: absolute;
      left: 95px;
      bottom: 28px;
      font-size: 14px;
      transform: rotate(330deg);
      animation: fadeIn 0.8s ease 1.5s forwards, fadeOut 1s ease 5s forwards;
    }

    .ns-arrow-stem {
      position: absolute;
      left: 135px;
      bottom: 0;
      transform: scaleX(-1);

      #arrowStem {
        stroke-dasharray: 78.89945983886719;
        stroke-dashoffset: 78.89945983886719;
        animation: stem 1s linear forwards, fadeOut 1s ease 5s forwards;
      }
    }

    .ns-arrow-cap {
      position: absolute;
      left: 132px;
      bottom: 10px;
      transform: scaleX(-1);

      #arrowCap {
        stroke-dasharray: 15.967951774597168;
        stroke-dashoffset: 15.967951774597168;
        animation: cap 0.5s linear 1s forwards, fadeOut 1s ease 5s forwards;
      }
    }
  }
}

// , fadeOut 1s ease 5s forwards

@keyframes stem {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes cap {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
