.topbar-section-wrapper {
  position: sticky;
  top: 0;

  .topbar {
    background-color: #353943;
    width: 100%;

    .site-title {
      margin: 0;
      color: white;
      padding: 1rem;
      cursor: pointer;
    }
  }
}
