.topbar {
  background-color: #353943;
  width: 100%;

  .site-title {
    margin: 0;
    color: white;
    padding: 1rem;
    cursor: pointer;
  }
}

.above-bar {
  width: 100%;
  background-color: #1c3987;
  height: 0.25rem;
}
