.client-accept-wrapper {
  width: 475px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 45px 40px 25px;
  text-align: center;

  .ct-note {
    .ct-emphasize {
      color: #1c3987;
    }
  }

  .ct-are-you-ready {
    margin-top: 20px;
  }
}
