.offer {
  width: 100%;
  border: 1px solid #1c3987;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &.rejected {
    border-color: #ff2d2d;
  }

  .waiting-for-approval {
    font-size: 14px;
    margin-top: 7px;
    color: #1c3987;

    .accepted-note {
      color: #15b300;
    }

    .rejected-note {
      color: #ff2d2d;
    }
  }

  .typist-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;

    .pointer {
      cursor: pointer;
    }

    .typist-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .typist-displayname {
      margin-right: 7px;
      font-size: 14px;
    }
  }

  .offered-price-wrapper {
    display: flex;
    flex-direction: column;

    .offered-price-title {
      color: #555;
      font-size: 12px;
    }

    .offered-price {
      font-size: 14px;
      margin-right: 10px;
    }
  }

  .accept-reject-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .accept,
    .reject {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 27px;
      width: 27px;
    }

    .accept {
      background-color: #aaeca1;

      &:hover {
        background-color: #7cde6f;
      }
    }

    .reject {
      background-color: #ffc7c7;
      margin-right: 5px;

      &:hover {
        background-color: #ff9999;
      }
    }
  }

  .offer-created-at {
    font-size: 10px;
    color: #777;
    position: absolute;
    left: 5px;
    top: 0;
  }

  .deadline {
    margin-top: 10px;
    width: 50px;
    text-align: center;
  }
}
