.lr-wrapper {
  background-color: #fff;
  height: 430px;
  border-radius: 3px;
  position: relative;
  display: flex;
  min-width: 700px;
  max-width: 700px;
  animation: fadeIn 0.3s ease forwards;

  .lr-close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: rgb(70, 70, 70);
    z-index: 1;

    &:hover {
      background-color: #ddd;
      color: rgb(30, 30, 30);
    }
  }

  .lr-right {
    padding: 20px 80px;
    height: 100%;
    width: 65%;
    position: relative;

    .lr-title {
      text-align: center;
      font-size: 25px;
      color: #1c3987;
      margin: 20px 0;
      font-weight: 600;
    }

    .submit-button {
      position: relative;
      padding: 4px 20px;
      background-color: #1c3987;
      color: white;
      border: none;
      margin-top: 15px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      height: 33px;
      width: 100%;

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        outline: none;
      }
    }

    .login-forgot-password {
      font-size: 12px;
      display: inline-block;
      color: #1c3987;
      cursor: pointer;
      padding: 0 2px;

      &:hover {
        border-bottom: 1px solid #1c3987;
      }
    }

    .login-error-message {
      margin-top: 20px;
      padding: 5px 10px;
      font-size: 15px;
      color: #d8000c;
      border-radius: 2px;
      text-align: center;
    }

    .login-title-content-break-line {
      margin-top: 60px;
    }

    .register-error-message {
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 13px;
      color: #d8000c;
      border-radius: 2px;
      text-align: center;
    }
  }

  .lr-left {
    background-color: #29313b;
    height: 100%;
    width: 35%;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .register-options-wrapper {
      margin-top: 15px;

      .register-options {
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-top: 3px;
      }
    }

    .lr-left-button {
      background-color: #29313b;
      color: #fff;
      border: 1px solid #fff;
      padding: 5px 10px;
      margin-top: 25px;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      width: 100px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:focus {
        outline: none;
      }
    }

    .not-a-member {
      color: #a2ffe1;
      margin-top: 18px;
      margin-left: 80px;
      font-size: 14px;
      visibility: hidden;
      animation: zoomIn 1s forwards 1.5s;
    }

    #register-arrow-stem {
      position: absolute;
      bottom: 87px;
      left: 81px;
      stroke-dasharray: 71px;
      stroke-dashoffset: 71px;
      animation: stemEnter 1s ease-out forwards 2.5s;
    }

    #register-arrow-point {
      position: absolute;
      bottom: 109.5px;
      left: 77px;
      stroke-dasharray: 17px;
      stroke-dashoffset: 17px;
      animation: pointEnter 0.7s ease-out forwards 3.2s;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1) rotate(-20deg);
  }
}

@keyframes stemEnter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pointEnter {
  to {
    stroke-dashoffset: 0;
  }
}
