.upload-pics-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .upload-icon-circle {
    position: relative;
    width: 135px;
    height: 135px;
    background-color: #ebebeb;
    border-radius: 50%;
    cursor: pointer;
  }

  .upload-fadeIn {
    margin-top: 20px;
  }

  .upload-valid-formats {
    margin-top: 3px;
    font-size: 14px;
    color: #666666;
  }

  .upload-button {
    margin-top: 20px;
    width: initial;
  }
}

.pics-uploaded-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .images-wrapper {
    display: flex;
    margin-top: 40px;

    .pics-uploaded {
      position: relative;
      width: 250px;
      height: 350px;
      border: 1px solid #ddd;
      cursor: pointer;
      transition: border 0.2s;
      margin: 0 5px;
      box-shadow: inset 0 8px 12px -5px rgba(0, 0, 0, 0.1);

      &:hover {
        border-color: #1c3987;
      }

      .pics-index {
        position: absolute;
        top: 8px;
        right: 13px;
        color: #29313b;
        font-size: 14px;
        z-index: 1;
      }

      .delete-pic {
        padding: 8px;

        &:hover {
          background-color: rgb(255, 219, 219);
        }
      }

      .pic {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .uploaded-pics-range {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: #666;
  }

  .pics-uploaded-buttons-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    bottom: 49px;

    .add-another,
    .next-step {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 5px;
      padding: 14px;
    }

    .add-another-pic-tooltip {
      opacity: 0;
      position: absolute;
      right: 40px;
      bottom: 28px;
      font-size: 14px;
      transform: rotate(30deg);
      animation: fadeIn 0.8s ease 1.5s forwards, fadeOut 1s ease 5s forwards;
    }

    .aap-arrow-stem {
      position: absolute;
      right: 105px;
      bottom: 0;

      #arrowStem {
        stroke-dasharray: 78.89945983886719;
        stroke-dashoffset: 78.89945983886719;
        animation: stem 1s linear forwards, fadeOut 1s ease 5s forwards;
      }
    }

    .aap-arrow-cap {
      position: absolute;
      right: 102px;
      bottom: 10px;

      #arrowCap {
        stroke-dasharray: 15.967951774597168;
        stroke-dashoffset: 15.967951774597168;
        animation: cap 0.5s linear 1s forwards, fadeOut 1s ease 5s forwards;
      }
    }

    .next-step-tooltip {
      opacity: 0;
      position: absolute;
      left: 65px;
      bottom: 28px;
      font-size: 14px;
      transform: rotate(330deg);
      animation: fadeIn 0.8s ease 1.5s forwards, fadeOut 1s ease 5s forwards;
    }

    .ns-arrow-stem {
      position: absolute;
      left: 105px;
      bottom: 0;
      transform: scaleX(-1);

      #arrowStem {
        stroke-dasharray: 78.89945983886719;
        stroke-dashoffset: 78.89945983886719;
        animation: stem 1s linear forwards, fadeOut 1s ease 5s forwards;
      }
    }

    .ns-arrow-cap {
      position: absolute;
      left: 102px;
      bottom: 10px;
      transform: scaleX(-1);

      #arrowCap {
        stroke-dasharray: 15.967951774597168;
        stroke-dashoffset: 15.967951774597168;
        animation: cap 0.5s linear 1s forwards, fadeOut 1s ease 5s forwards;
      }
    }
  }

  .carousel-backward,
  .carousel-forward {
    background-color: #ddd;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 318px;

    &:hover {
      background-color: #ccc;
    }
  }

  .carousel-backward {
    right: 40px;
  }

  .carousel-forward {
    left: 40px;
  }
}

@keyframes stem {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes cap {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
