.projects-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .no-project-note {
    margin-top: 15px;
  }

  .load-more-projects {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 26px auto;
  }
}
