.projects-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .filters-wrapper {
    display: flex;
    margin-bottom: 15px;

    .filters-note {
      display: flex;
      align-items: center;
      margin-right: 10px;
      color: #606060;
    }

    .filters-options-wrapper {
      display: flex;
      margin-right: 50px;

      .filters-option {
        margin-right: 15px;
        padding: 2px 8px;
        cursor: pointer;
        color: #a1a1a1;

        &:first-child {
          margin-right: 0;
        }

        &.all-hovered {
          &:hover {
            color: #29313bab;
          }
        }

        &.open-hovered {
          &:hover {
            color: #1c3887ab;
          }
        }

        &.in-progress-hovered {
          &:hover {
            color: #fca636ab;
          }
        }

        &.delivered-hovered {
          &:hover {
            color: #40810fab;
          }
        }

        &.all-active {
          color: #29313b;
        }

        &.open-active {
          color: #1c3987;
        }

        &.in-progress-active {
          color: #fca636;
        }

        &.delivered-active {
          color: #40810f;
        }
      }
    }
  }

  .no-project-note {
    margin-top: 15px;

    &.red {
      color: #ff2d2d;
    }
  }

  .load-more-projects {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 26px auto;
  }
}
