.deleteproject-wrapper {
  background-color: #fff;
  width: fit-content;
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  position: relative;
  padding: 45px 50px 25px;
  font-size: 18px;
  text-align: center;
}
