.rules-wrapper {
  height: 100%;
  text-align: justify;
  padding: 10px 15px;
  line-height: 30px;

  .rules-initiate-note {
    font-style: italic;

    .typecafe-url {
      color: #1c3987;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid #1c3987;
      }
    }
  }

  .rules-title {
    font-size: 20px;
    color: #1c3987;
    margin: 25px 10px 0 0;
  }

  .rules-value {
    margin: 10px 25px 0;
    color: #29313bec;

    &.less-mt {
      margin-top: 5px;
    }
  }
}
