.mine-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .no-project-note {
    margin-top: 15px;
  }

  .mp-title {
    font-size: 18px;
    padding: 0 10px 7px 0;
  }

  .mp-counter {
    color: #1c3987;
    margin-right: 5px;
    font-size: 15px;
  }

  .add-a-project-wrapper {
    width: fit-content;
    margin-top: 5px;
    border: 1px solid #1c3987;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    .add-a-project-right-now {
      color: #1c3987;
      font-size: 14px;
    }
  }

  .filters-wrapper {
    display: flex;
    margin-bottom: 15px;

    .filters-title-wrapper {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .filters-note {
        margin-right: 5px;
        color: #606060;
      }
    }

    .filters-options-wrapper {
      display: flex;
      margin-right: 70px;

      .filters-option {
        margin-right: 15px;
        padding: 2px 8px;
        cursor: pointer;
        color: #909090;

        &:first-child {
          margin-right: 0;
        }

        &.all-hovered {
          &:hover {
            color: #29313bab;
          }
        }

        &.open-hovered {
          &:hover {
            color: #1c3887ab;
          }
        }

        &.in-progress-hovered {
          &:hover {
            color: #fca636ab;
          }
        }

        &.delivered-hovered {
          &:hover {
            color: #40810fab;
          }
        }

        &.all-active {
          color: #29313b;
        }

        &.open-active {
          color: #1c3987;
        }

        &.in-progress-active {
          color: #fca636;
        }

        &.delivered-active {
          color: #40810f;
        }
      }
    }
  }
}
