.support-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .support-form-wrapper {
    align-items: flex-start;

    .support-input {
      width: 600px;
      height: 200px;
    }
  }

  .support-ticket-history-wrapper {
    margin-top: 50px;
    width: 90%;

    .support-ticket-history-title {
      font-size: 18px;
      padding: 0 10px 7px 0;
      border-bottom: solid 1px #29313b48;
    }

    .support-ticket-history-tickets {
      margin-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
