.wrapper {
  height: 100%;
  width: 100%;

  .main {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;

    .sidebar-open {
      background-color: #30475e;
      color: #fff;
      width: 300px;
      min-width: 300px;
      transition: all 0.5s;
    }

    .sidebar-close {
      background-color: #30475e;
      color: #fff;
      width: 65px;
      min-width: 65px;
      transition: all 0.5s;
    }

    .content {
      width: 100%;
    }
  }
}
