.home-page-wrapper {
  .banner-section-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    max-width: 1330px;
    margin: 0 auto;
  }

  @media screen and (max-height: 800px) {
    .banner-section-wrapper {
      height: 530px;
    }
  }

  @media screen and (max-height: 700px) {
    .banner-section-wrapper {
      height: 450px;
    }
  }

  .scrolldown-section-wrapper {
    display: flex;
    justify-content: center;
  }
}
