.home-page-wrapper {
  .loginregister-section-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1360px;
    margin: 9rem auto 12rem;
  }

  .gotowhatisit-section-wrapper {
    display: flex;
    justify-content: center;
  }
}
