.icon {
  margin-left: 24px;

  &.icon-less-margin {
    margin-left: 18px !important;
  }

  &.icon-menu {
    content: url("../svgs/menu.svg");
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.5s;
  }

  &.icon-projects-black {
    content: url("../svgs/projects-black.svg");
    width: 24px;
    height: 24px;
  }

  &.icon-projects-white {
    content: url("../svgs/projects-white.svg");
    width: 24px;
    height: 24px;
  }

  &.icon-tarrifs-black {
    content: url("../svgs/abacus-black.svg");
    width: 24px;
    height: 24px;
  }

  &.icon-tarrifs-white {
    content: url("../svgs/abacus-white.svg");
    width: 24px;
    height: 24px;
  }

  &.icon-financial-black {
    content: url("../svgs/wallet-black.svg");
    width: 24px;
    height: 24px;
  }

  &.icon-financial-white {
    content: url("../svgs/wallet-white.svg");
    width: 24px;
    height: 24px;
  }

  &.icon-settings-black {
    content: url("../svgs/settings-black.svg");
    width: 24px;
    height: 24px;
  }

  &.icon-settings-white {
    content: url("../svgs/settings-white.svg");
    width: 24px;
    height: 24px;
  }

  &.icon-user-red-big {
    content: url("../svgs/user.svg");
    width: 70px;
    height: 70px;
    transition: height 0.5s, width 0.5s;
  }

  &.icon-user-red-regular {
    content: url("../svgs/user.svg");
    width: 24px;
    height: 24px;
    transition: height 0.5s, width 0.5s;
  }
}
