@import "./variables.scss";

@font-face {
  font-family: "typecafe";
  src: local("typecafe"), url(../fonts/IRANSansWeb.woff) format("woff");
}

body {
  margin: 0;
  font-family: $font;
  background-color: #ddd;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  user-select: none;
}

.no-select {
  user-select: none;
}
