@import "./icons.scss";
@import "./toast.scss";

@font-face {
  font-family: "typecafe";
  src: local("typecafe"), url(../fonts/IRANSansWeb.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    background-color: #df4933;
    color: #fff;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #29313b48;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #29313b;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #29313be1;
  }
}

body {
  font-family: "typecafe";
  background-color: #fff;
  color: #29313b;
  height: 100vh;
}

button {
  user-select: none;
  font-family: "typecafe";
}

.no-select {
  user-select: none;

  &::-webkit-user-select {
    user-select: none;
  }
}
