.Toastify__toast-container {
  width: 320px;
}

.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}

.Toastify__toast--info {
  background: #29313b;
}

.Toastify__toast--success {
  background: #006e2c;
}

.Toastify__toast--warning {
  background: #ff8800;
}

.Toastify__toast--error {
  background: #cc0000;
}
