.offerrequest-wrapper {
  background-color: #fff;
  width: 465px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  position: relative;
  padding: 45px 50px 25px;
  font-size: 18px;

  .offerrequest-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .highlight {
      color: #fff;
      background-color: #29313b;
      border-radius: 5px;
      padding: 0 5px;
    }

    .offerrequest-note {
      font-size: 17px;
      text-align: justify;
      line-height: 33px;
    }

    .go-to-rules {
      height: 25px;
      color: #1c3987;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
      margin: 3px;

      &:hover {
        border-bottom: 1px solid #1c3987;
      }
    }

    .button-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .close-modal {
    top: 12px;
    left: 12px;
  }
}
