.sidebar-wrapper {
  .user-profile {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    &_photo {
      width: 37%;

      .profile-picture {
        width: 13vh;
        height: 13vh;
        border-radius: 50%;
        background-color: #ddd;
      }
    }

    &_info {
      width: 55%;
    }
  }

  .sidebar-items {
    width: 100%;
    user-select: none;

    &_item {
      position: relative;
      padding: 15px 30px;
      cursor: pointer;
      display: block !important;
      transition: all 0.4s;

      &:hover {
        background-color: #ad3e3e;
      }
    }

    &_item_selected {
      position: relative;
      padding: 15px 30px;
      background-color: #ad3e3e;
      cursor: pointer;
      display: block !important;
    }
  }
}
