.sidebar-wrapper {
  .user-profile {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 13px;

    &_photo {
      width: 37%;
      max-height: 90px;

      .profile-picture {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #ddd;
        object-fit: cover;
      }
    }

    &_info {
      margin-right: 10px;
      width: 55%;
    }
  }

  .sidebar-items {
    width: 100%;
    user-select: none;

    &_item {
      cursor: pointer;
      position: relative;
      padding: 15px 20px;
      transition: all 0.4s;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(221, 221, 221, 0.219);
      }
    }

    &_item_selected {
      cursor: pointer;
      position: relative;
      padding: 15px 20px;
      background-color: #ddd;
      color: #000;
      display: flex;
      align-items: center;
    }
  }
}
