.user-dropdown-wrapper {
  position: fixed;
  top: 65px;
  left: 20px;
  background-color: #29313b;
  border-radius: 5px;
  width: 200px;
  z-index: 99;

  .user-dropdown-item {
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: #39434e;
    }
  }
}
